.innerContainer{
    color: white;
    border-radius: 20px;
    /* background: rgba(0,0,0,0.8); */
}
form{
    text-align: center;
    border-radius: 20px;
    background: rgba(255,255,255,0.1);
    padding: 2%;
    border:solid 1px #FFF;

}
p{
    font-size: larger;
    color: #c6c6c6;
}
.outerContainer{
    width:73vw;
    padding: 0.75% 0.75%;
    border-radius: 20px;
    /* border:solid 1px #FFF; */
}
input{
    display: none;
}

label{
    height: 100%;
    width: 100%;
}
